@{ Layout = null; }

<!DOCTYPE html>
<html>
@*@<head>
        <meta name="viewport" content="width=device-width" />
        <title>Party!</title>
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            <div class="text-center">
                <h3>We're going to have an exciting party.</h3>
                <h4>(To do: sell it better. Add pictures or something.)</h4>
                <a asp-action="RsvpForm" class="btn btn-primary">RSVP Now</a>
            </div>
        </div>
    </body>
    </html>*@

<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Office: Season X</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            background-image: url("http://drive.google.com/uc?export=view&id=1VqI9TkNrNtVxBZ2xCAJ_NELGz4S_bU2C");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 style="color:white">.</h1>
        <h1 style="color:black">.</h1>
        <h1 style="color:black">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <a asp-action="Casting" class="btn btn-primary btn-lg">Click to build the best Office cast</a>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
        <h1 style="color:white">.</h1>
    </div>
</body>
</html>